.container {
  width: 80%;
  margin: 50px auto;
  font-family: Arial, sans-serif;
}

#stageContainer {
  margin-top: 50px;
  background: #ffffffcc;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  padding: 30px;
  text-align: center;
}

.stage {
  background-color: #188bff;
  border-radius: 20px;
  color: white;
  padding: 15px;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.25s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  width: 200px;
}

.stage:hover {
  transform: scale(1.09);
}


.stage.locked {
  border-color: #ccc;
  background-color: #f0f0f0;
  color: #999;
}

.stage h2 {
  margin: 0 0 10px 0;
}

.levelContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 20px;
}

.level {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s;
}

.level:hover {
  background: #f0f0f0;
}

.level.locked {
  opacity: 0.5;
  cursor: not-allowed;
}

.stage-name {
  font-weight: bold;
}

.lock-icon {
  font-size: 18px;
  color: red;
}